.article-sidebar {
  padding: 32px;
  background-color: #eef0f3;
}

.article-sidebar__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.article-sidebar__list-item:not(:last-child) {
  margin-bottom: 24px;
}

.article-sidebar__list-item-link {
  color: #5b616e;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.25s ease 0s;
  line-height: 24px;
  border: 0;
  outline: 0;
  display: inline-block;
  padding: 0;
  text-align: left;
}
