.image-container {
  min-width: 0px;
  grid-column-end: span 1;
  grid-row-end: span 1;
  position: relative;
  width: 100%;
  height: 0px;
  padding-top: calc(57.1429%);
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
