.section-header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  column-gap: 44px;
  row-gap: 8px;
  text-align: center;
}

.section-header__text {
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  font-weight: 700;
}

.section-header__body {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #5b616e;
}
